{% load static from staticfiles %}
<script type="text/javascript">
    // URL para obtener data de usuario en evento
    var URL_USUARIO_EVENTO = "{% url 'participantes:search_participante_nid' %}";
    
    // URL para actualizar la firma de un participante
    var URL_ACTUALIZAR_PARTICIPACION = "{% url 'participantes:update_participante_evento' %}";
    
    // URL para comprobar si el firmante es el último
    var URL_ULTIMO_FIRMANTE = "{% url 'participantes:participante_restante_evento_nid' %}";
            
</script>