 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }
 
/* Input colors */
.input-field .prefix.active{
    color: #4caf50;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label
{
  color: #4caf50;
}
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus 
{
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

.invalid input {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.invalid label,.invalid  i, .errorlist, .danger {
    color: #F44336;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #E53935;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #E53935;
    border-bottom: 2px solid #E53935;
}

#tiny{
    font-size: 1rem;
}

a{
    color: #E53935;
}