{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Firmar Evento{% endblock title %}
{% block content %}
    <div class="content center">
        <form id="form" method="post">
            {% csrf_token %}
            <div class="input-field {% if form.pasaporte.errors %}invalid{% endif %}">
                {{ form.pasaporte }}
                <label for="icon_prefix {{ form.pasaporte.auto_id }}">Número de Pasaporte</label>
                {% include 'base.forms.errors.html' with form_errors=form.pasaporte.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            
            <a type="button" class="btn waves-effect red darken-1">
                <i class="material-icons left">search</i> Buscar
            </a>
        </form>
    </div>
{% endblock %}
